html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  background-color: #fff;
  color: #333;
}

.Checkout_checkout-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Checkout_main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}

h2 {
  margin-bottom: 20px;
}

.Checkout_cart-summary {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.Checkout_cart-summary p {
  font-size: 18px;
  font-weight: bold;
}

.Checkout_cart-table {
  width: 100%;
  max-width: 70rem;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.Checkout_cart-table th, .Checkout_cart-table td {
  border-bottom: 1px solid #ddd;
  padding: 1rem;
  text-align: left;
}

.Checkout_cart-table th {
  font-size: 16px;
  text-transform: uppercase;
  color: #666;
}

.Checkout_cart-item img {
  width: 8rem;
  height: 12rem;
  object-fit: fill;
  margin-right: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 10px rgb(11, 11, 11);

}

.Checkout_item-details {
  display: flex;
  align-items: left;
  flex-direction: row;
}

.Checkout_item-details h3 {
  margin: 0;
  font-size: 1.5rem;
}

.Checkout_item-details p {
  margin: 5px 0;
  color: #666;
  font-size: 14px;
}

.Checkout_item-details button {
  background: none;
  border: none;
  color: #f44336;
  cursor: pointer;
  font-size: 14px;
  padding: 0;
  margin-top: 5px;
}

.Checkout_item-details button:hover {
  text-decoration: underline;
}

.Checkout_item-quantity {
  align-items: center;
  gap: 5px;
}

.Checkout_item-quantity button {
  background-color: #ccc;
  border: none;
  border-radius: 3px;
  padding: 5px 8px;
  cursor: pointer;
}

.Checkout_item-quantity input {
  width: 40px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
}

.Checkout_item-price, .Checkout_item-total {
  font-size: 16px;
  font-weight: bold;
}

.Checkout_summary {
  width: 100%;
  max-width: 60rem;
  padding: 20px;
  text-align: right;
}

.Checkout_summary p {
  margin: 10px 0;
}

.Checkout_checkout-button, .Checkout_continue-shopping {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #a2957b;
  color: #000000;
  cursor: pointer;
  margin-top: 20px;
}

.Checkout_checkout-button:hover, .Checkout_continue-shopping:hover {
  background-color: #fcfafa;
  color: #000;
  border: 1px solid black;
}

.Checkout_continue-shopping {
  background-color: #a2957b;
  margin-left: 10px;
}
