html, body, #root {
  height: 100%;
  margin: 0;
}

.Contact_contact-page main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
}

.Contact_contact-form {
  width: 100%;
  max-width: 400px;
}

.Contact_form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.Contact_back-button {
  margin-top: 20px;
}

.Contact_success-message {
  margin-top: 20px;
  color: green;
  font-size: 18px;
}
