.footer {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #a2957b;
  border-top: 1px solid #ccc;
  font-size: 18px;
  width: 100%;
}