.Header_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #a2957b;
    height: 4rem;
    box-shadow: 0px 5px 8px #877e6b;
  }
  
  .Header_logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .Header_logo-icon {
    color: #333;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    transition: color 0.3s, transform 0.3s;
  }
  
  .Header_logo-icon:hover {
    color: #555;
    transform: scale(1.1);
  }
  
  .Header_logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    transition: color 0.3s;
  }
  
  .Header_logo-text:hover {
    color: #555;
  }
  
  .Header_nav {
    display: flex;
    align-items: center;
  }
  
  .Header_nav-button {
    margin: 0 10px;
    background: none;
    border: 2px solid #333;
    color: #333;
    font-size: 16px;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .Header_nav-button:hover {
    background-color: #333;
    color: #fff;
    border-color: #fff;
  }
  
  .Header_nav-icon {
    color: #333;
    transition: color 0.3s;
  }
  
  .Header_nav-icon:hover {
    color: #555;
  }
