.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Adjusted padding to make the header smaller vertically */
    background-color: #e3dac9;
    border-bottom: 1px solid #ccc;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    transition: color 0.3s;
  }
  
  .logo-text:hover {
    color: #555;
  }
  
  .search-bar {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
  }
  
  .nav {
    display: flex;
    align-items: center;
  }
  
  .nav-button {
    margin: 0 10px;
    background: none;
    border: 2px solid #333;
    color: #333;
    font-size: 16px;
    padding: 5px 15px; /* Adjusted padding to match the smaller header */
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .nav-button:hover {
    background-color: #333;
    color: #fff;
    border-color: #fff;
  }
  